---
import ButtonCard from '../common/ButtonCard.astro'
interface Props {
  demo: string
  repo?: string
  image: string
  title: string
  description: string
}

const { image, title, description, demo, repo } = Astro.props
---

<div
  class='flex gap-y-6 flex-col w-80 items-center backdrop-blur-sm hover:backdrop-blur-none transition-all bg-[#1f305a27] min-h-[425px] p-3 rounded-2xl border-white/30 hover:border-white/75 border'
>
  <img
    src={image}
    alt={title}
    class='rounded-xl'
  />
  <div class='flex-1 w-full gap-y-1 flex flex-col'>
    <h3 class='font-Ubuntu text-xl font-semibold leading-snug'>{title}</h3>
    <p class='font-Ubuntu tracking-normal text-white/75'>{description}</p>
  </div>
  <div class='flex w-full justify-around'>
    <ButtonCard
      text='Demo'
      href={demo}
    />
    {
      repo && (
        <ButtonCard
          text='Repo'
          href={repo}
        />
      )
    }
  </div>
</div>
